@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,700;1,400&family=Maven+Pro:wght@400;500;700&family=Lobster+Two&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  width: 85%;
  margin-left: 15%;
}

@font-face {
  font-family: "Lora", serif;
  src: url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,700;1,400&display=swap);
}
@font-face {
  font-family: "Maven Pro", serif;
  src: url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap);
}
@font-face {
  font-family: "Lobster Two", cursive;
  src: url(https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap);
}
nav {
  width: 15vw;
  display: block;
  height: 100vh;
  position: fixed;
  overflow: auto;
  z-index: 20;
  background-color: #706677;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
nav .nav-header {
  margin-top: 5vh;
  text-align: center;
  font-family: "Lobster Two", cursive;
}
nav .nav-header h4 {
  font-family: "Maven Pro", serif;
  font-size: small;
  margin-bottom: 0px;
}
nav .nav-header h1 {
  font-size: xx-large;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #000;
  text-underline-offset: 6px;
  color: #CCB7AE;
  margin-bottom: 0px;
}
nav .nav-header h2 {
  font-weight: 500;
  color: #D6CFCB;
}
nav .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  width: 100%;
  text-align: center;
}
nav .links a {
  text-decoration: none;
  color: #000;
  font-size: large;
  font-family: "Maven Pro", serif;
  padding: 20px;
}
nav .links .active, nav .links a:active {
  width: 100%;
  background-color: #A6808C;
  font-weight: 500;
}
nav .links a:hover {
  width: 100%;
  background-color: #565264;
}
nav .nav-footer {
  margin-top: 25vh;
  font-family: "Maven Pro", serif;
  font-size: small;
}
nav .nav-footer .social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .nav-footer .social img {
  height: 40px;
}

.welcome {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right, #706677, #161117);
  --mask:
  radial-gradient(11.18vw at 50% calc(100% - 15.00vw),#000 99%,#0000 101%) calc(50% - 10vw) 0/20vw 100%,
  radial-gradient(11.18vw at 50% calc(100% + 10.00vw),#0000 99%,#000 101%) 50% calc(100% - 5vw)/20vw 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.welcome .text {
  z-index: 20;
  text-align: right;
  margin-right: 2vw;
  margin-top: 15vh;
}
.welcome .text #heading, .welcome .text #about {
  display: none;
}
.welcome .text h1 {
  font-family: "Lobster Two", cursive;
  font-size: 15em;
  color: #A6808C;
}
.welcome .text p {
  font-family: "Lato", serif;
  font-size: 2em;
  color: #D6CFCB;
}
.welcome .text p .name {
  font-family: "Lobster Two", cursive;
  color: #CCB7AE;
}
.welcome .ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.5;
  overflow: hidden;
}

.about {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-img {
  width: 300px;
  height: 300px;
  border: solid 5px #A6808C;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.about .about-img img {
  width: 100%;
}
.about .about-blurb {
  background-color: #D6CFCB;
  padding: 100px;
  border-color: none;
  border-radius: 50px;
  width: 60%;
}
.about .about-blurb h1 {
  font-family: "Lobster Two", cursive;
  color: #A6808C;
}
.about .about-blurb p {
  font-family: "Lora", serif;
}
.about .about-blurb p .fact {
  color: #A6808C;
  font-family: "Lora", serif;
}

.projects {
  height: 100vh;
  overflow-y: scroll;
}
.projects h1 {
  font-family: "Lobster Two", cursive;
  color: #A6808C;
}
.projects .project-group {
  width: 80%;
  margin: auto;
  padding: 20px 0px;
}
.projects .project-group .project {
  padding: 20px 0px;
}
.projects .project-group .project .project-text h2 {
  font-family: "Maven Pro", serif;
  color: #565264;
}
.projects .project-group .project .project-text p {
  font-family: "Lora", serif;
}
.projects .project-group .project .project-text a {
  text-decoration: none;
  font-family: "Lora", serif;
  color: #A6808C;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Maven Pro", serif;
}
.contact .content {
  margin: 50px 0px;
  text-align: center;
}
.contact .content h1 {
  font-family: "Lobster Two", cursive;
  color: #A6808C;
}
.contact .content h3 {
  font-weight: normal;
}
.contact .contact-options {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact .contact-options button {
  border: none;
  background-color: #706677;
  padding: 20px 15px;
  border-radius: 20px;
}
.contact .contact-options button a {
  text-decoration: none;
  color: #D6CFCB;
  font-size: large;
}

/*# sourceMappingURL=styles.css.map */
