// colors
$black: #000;
$dark-purple: #565264;
$lavender: #706677;
$pink: #A6808C;
$beige: #CCB7AE;
$silver: #D6CFCB;
$white: #fff;

// fonts 
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,700;1,400&family=Maven+Pro:wght@400;500;700&family=Lobster+Two&display=swap');

@font-face {
    font-family: 'Lora', serif;
    src: url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,700;1,400&display=swap);
}
@font-face {
    font-family: 'Maven Pro', serif;
    src: url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap);
}
@font-face {
    font-family: 'Lobster Two', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap);
}