.contact{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Maven Pro', serif;

    .content{
        margin: 50px 0px;
        text-align: center;

        h1{
            font-family: 'Lobster Two', cursive;
            color: $pink;
        }
        h3{
            font-weight: normal;
        }
    }


    .contact-options{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        button{
            border: none;
            background-color: $lavender;
            padding: 20px 15px;
            border-radius: 20px;

            a{
                text-decoration: none;
                color: $silver;
                font-size: large;
            }
        }
    }
}

@media screen and (max-width: 770px){
    .contact{
        .contact-options{
            width: 80%;
            flex-direction: column;

            button{
                margin-bottom: 20px;
            }
        }
    }
}