.about{
    min-height: 50vh;
    width: 80%;
    margin: auto;
    // background-image: linear-gradient(to right, $lavender, $silver);
    background-color: $white;

    display: flex;
    align-items: center;
    justify-content: center;
    
    .about-img{
        width: 300px;
        height: 300px;
        border: solid 5px $pink;
        border-radius: 50%;
        overflow: hidden;

        img{
            width: 100%;
        }
    }
    .about-blurb{
        padding: 100px;
        border-color: none;
        border-radius: 50px;
        width: 60%;

        h1{
            font-family: 'Lobster Two', cursive;
            color: $pink;
        }
    
        p{
            font-family: 'Lora', serif;
    
            .fact{
                color: $pink;
                font-family: 'Lora', serif;
            }
        }
    }
}

@media screen and (max-width: 770px){
    .about{
        flex-direction: column-reverse;
        .about-blurb{
            width: 100%;
        }
    }
}